@charset "utf-8";
/* CSS Document */

#map path {
	stroke: black;
	stroke-width: 0.26;
	/*fill: #0A64A4;*/
}
#map path.map_unselect_hover {
	opacity: 0.8;
}
#map path.map_select_normal {
	/*fill: #FF9000;*/
}
#map path.map_select_hover {
	/*fill: #FF9000;*/
	opacity: 0.8;
}
#map path.map_scotland {
	fill: #FFFFFF;
}

#map.d3-tip {
	background: rgba(255, 255, 255, 0.8);
	color: #000;
}

#map.d3-tip:after {
	color: rgba(255, 255, 255, 0.8);
}