@charset "utf-8";
/* CSS Document */

.font{
	font-family:Roboto,Arial,sans-serif;
	font-size:14px;
	font-weight:400;
	text-decoration:none;
	text-align: center;	
	color: #FFF;
	opacity: 1;!important;
}

.names{
	font-family:Roboto,Arial,sans-serif;
	font-size:10px;
	color: #FFF;
	opacity: 1;!important;
	text-align: left;
	display: inline;
	 word-wrap: break-word; word-break: normal;
}

.number{
	color: #FF3;
}

.panel{
	align: center;
	width: 200px;
	position: relative;
	float: left;
	margin-top: 10px;
}

.black_panel{
	background-color:black;
	opacity: 0.8;
}

.gray_panel{
	background-color: #333;
	opacity: 0.5;
	border: 1px solid #FFF;
	width: 194px;
	float: none;
	margin-left: 2px;
}

.headline{
	height: 30px;
	vertical-align: middle;
	padding-top: 10px;
}