@charset "utf-8";
/* CSS Document */

.font{
	font-family:'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif;
	font-size:13px;
	text-decoration:none;
	text-align: left;
	color: #000;
	opacity: 0.8;!important;
}

.names{
	font-family:Roboto,Arial,sans-serif;
	color: #FFF;
	opacity: 1;!important;
	text-align: center;
	word-wrap: break-word; word-break: normal;
}

.number{
	color: #FF3;
}

.panel{
	/*width: 200px;*/
	position: relative;
/*	margin-top: 10px;*/
}

.black_panel{
	background-color: rgba(108,148,180,0.1);
}

.gray_panel{
	background-color: #CCC;
	opacity: 0.5;
	border: 1px solid #FFF;
/*	width: 194px;*/
	float: none;
	margin-left: 2px;
	color: #000;
}

.headline{
	vertical-align: middle;
	font-weight:bold;
	text-align: center;
	background-color: #476e8c;
}

.crimetypes{
	font-family:Roboto,Arial,sans-serif;
	text-align: left;
	word-wrap: break-word; word-break: normal;
	border: 1px solid #FFF;
}

input[type=checkbox] {
    display:none;
  }

input[type=checkbox] + label
{
   height: 14px;
   width: 14px;
   display:inline-block;
   padding: 0 0 0 0px;
}

input[type=checkbox]:checked + label
{
	height: 14px;
	width: 14px;
	display:inline-block;
	padding: 0 0 0 0px;
}

label[name=CrimeTypeName] {
	vertical-align: 2px;
}